
{% extends "base.html" %}
{% load static %}
{% block content %}
<body>

    <div class="fonts">
      <h2>B<span>I</span>K<span>E</span> B<span>R</span>O<span>S</span></h2>
    </div>
    <div>
      <video id="background-video" autoplay loop muted class="oop">
        <source src="{% static 'images/video.mp4' %}" type="video/mp4">
      </video>
    </div>



  </div>
  <div class="mid" id="d1">
    <div class="text">
      <h4>You Can't Buy Happiness.. But You can By A Motorcycle</h4>
    </div>
    <div class="flex-container">
      <div class="flex-child">
        <img src="{% static 'images/IMG_5106.PNG' %}" alt="" srcset="" width="210px">
        <div class="name">Sport Bike</div>
        <div class="refer">
          We Have the latest and<br> exclusive sport bike
        </div>
      </div>
      <div class="flex-child">
        <img src="{% static 'images/IMG_5105.PNG' %}" alt="" srcset="" width="210px">
        <div class="name">Scooter</div>
        <div class="refer">
          We Have the most comfortable <br> sccoter
        </div>
      </div>
      <div class="flex-child">
        <img src="{% static 'images/IMG_5104.PNG' %}" alt="" srcset="" width="210px">
        <div class="name">Cruiser</div>
        <div class="refer">
          We Have the latest and<br> exclusive cruiser motorcycle

        </div>

      </div>
    </div>
    </div>
    <div class="mid">

      <div class="flex-container2">
        <div class="flex-child11">
          <h4>Buying your First bike</h4>
          <p>
            Our bike rental company offers a convenient and affordable way <br>to explore the city on two wheels. We have a wide selection of bikes available for rent, including mountain bikes, road bikes, and kids' bikes. <br>Our bikes are well-maintained and regularly serviced to ensure a safe and enjoyable riding experience.
          </p>
        </div>
       
          
      </div>

    </div>
    <div class="mid">
    
      <div class="flex-container3">
        <div class="flex-child3">
         <img src="{% static 'images/pulsar-n160.webp' %}" alt="" srcset="" width="440px">
        </div>
        <div class="flex-child3">
          
          <img src="{% static 'images/keeway.gif' %}" alt="" srcset="" width="440px">
        </div>
        <div class="flex-child3">
          <img src="{% static 'images/himalayan.jpeg' %}" alt="" srcset="" width="470px" height="250px">
  
        </div>
      </div>
  </div>
  <div class="mid">
    
    <div class="flex-container4">
      <div class="flex-child4">
       <img src="{% static 'images/IMG_5108.JPG' %}" alt="" srcset="" width="840px" height="300px">
      </div>
      <div class="flex-child4 change">
        <h1 class="fowi">Safe.Relaxing.<br>Good to ride in. <br>subtly Decorated.</h1>
        
      </div>
     
    </div>
</div>

<div class="mid" >
  <div class="flex-container">
  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="{% static 'images/yamahamt.jpeg' %}" alt="Paris" style="width:400px;height:300px">
      </div>
      <div class="flip-box-back">
        <br>
        <br>
        <br>
        <h2>Yamaha MT 15 V2</h2>
        <p>Rs.1.65 - 1.66 Lakh</p>
        <p>EMI starts from Rs. 5,479</p>
      </div>
    </div>
  </div>
  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="{% static 'images/meteor.webp' %}" alt="Paris" style="width:400px;height:300px">
      </div>
      <div class="flip-box-back">
        <br>
        <br>
        <br>
        <h2>Royal Enfield Meteor 350</h2>
        <p>Rs.2.01 - 2.19 Lakh</p>
        <p>EMI starts from Rs. 6,28</p>
      </div>
    </div>
  </div>
  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="{% static 'images/himalayan.jpeg' %}" alt="Paris" style="width:400px;height:300px">
      </div>
      <div class="flip-box-back">
        <br>
        <br>
        <br>
        <h2>Royal Enfield Himalayan</h2>
        <p>Rs.2.15 - 2.22 Lakh</p>
        <p>EMI starts from Rs. 6,933</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="flex-container">
  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="{% static 'images/pulsar-n160.webp' %}" alt="Paris" style="width:400px;height:300px">
      </div>
      <div class="flip-box-back">
        <br>
        <br>
        <br>
        <h2>Pulsar N160</h2>
        <p>Rs.1.23 - 1.29 Lakh</p>
        <p>EMI starts from Rs. 4,233</p>
      </div>
    </div>
  </div>
   
  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="{% static 'images/keeway.gif' %}" alt="Paris" style="width:400px;height:300px">
      </div>
      <div class="flip-box-back">
        <br>
        <br>
        <br>
        <h2>keeway V302C</h2>
        <p>Rs.3.80 - 4.09 Lakh</p>
        <p>EMI starts from Rs. 6,933</p>
      </div>
    </div>
  </div>
  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="{% static 'images/Svitch csr.webp' %}" alt="Paris" style="width:400px;height:300px">
      </div>
      <div class="flip-box-back">
        <br>
        <br>
        <br>
        <h2>SVITCH CSR 762</h2>
        <p>Rs.1.65 - 2.00 Lakh</p>
        <p>EMI starts from Rs. 4,933</p>
      </div>
    </div>
  </div>
</div>
</div>



</div>
<div id="about">
  <h1>About Us</h1>
  <p>Welcome to Bike Bros! We're a family-owned bike rental shop dedicated to helping you explore the great outdoors on two wheels. Our team is passionate about biking and committed to providing high-quality rentals and exceptional customer service.

    We offer a range of bikes for rent, from mountain bikes to road bikes and kids' bikes. Our bikes are well-maintained and ready for adventure. Plus, we provide helmets, locks, and maps to help you plan your ride.
    
    Whether you're a local or just visiting, we're here to help you get the most out of your biking experience. Come ride with us and see why Bike Bros is the best way to explore the area! 
   </div>
 

  <div class="mid" id="contact" >
    
    <div class="flex-container6">
      <div class="flex-child6">
      <h2>Contact Information</h2>
      <p>Fill up the form and our team  will get back to you within 24 hours.
        <br>
        <br>
        <br>
        912337375748
        <br>
        <br>
        bikebros@gamil.com
        <br><br>
        Margoa Goa
      </p>
      </div> 
      <div class="flex-child66">
       <form action="">
        <label for="">First name</label> <br>
        <input type="text"> <br>
        <label for="">Last name</label> <br>
        <input type="text"> <br>
        <label for="">Email</label> <br>
        <input type="text"> <br>
        <label for="">Phone no</label> <br>
        <input type="text"> <br>
        <label for="">Message</label> <br>
        <input type="text">
        <input type="button" value="Submit" class="btnn">

       </form>
      </div>
      
    </div>
    </div>
</div>   
<div class="dd">
  <br><br>
<h2>CONTACT ME WITH </h2>
<h4>Email: bikebros@gamil.com</h4>
<h6>Mobile: 9191969191</h6>
<p><a href="aboutus.html"> About us</a></p> 
<p><a href="contactus.html"> Contact us</a></p> 
</div>



</body>

{% endblock content %}